html {
    scroll-behavior: smooth;
}

.white {
    background-color: #fff;
}

.overlay {
    background-color: black;
    opacity: 60%;
    position: absolute;
    inset: 0; /*расположила элемент в левом верхнем углу*/
    z-index: 0;
}

.about {
    margin: 0 24px 180px;
    padding: 35px 0 0 47px;
    width: 1052px;
    height: 595px;
}

.footer {
    padding: 0 50px 82px;
    width: 100%;
    height: 180px;
}

